*{
	margin:0px;
	padding: 0px;
	font-family: "微软雅黑";
	color: #333;
	-webkit-tap-highlight-color:transparent;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	/*border:1px solid black;*/
}
a{
	color: #333;
	text-decoration: none;
}
a:hover{
	text-decoration: none;
}
input{
	border:none;
	outline: none;
	-webkit-appearance:none;
}
ul,ol{
	list-style: none;
}
body{
	background-color: rgb(232,232,232);
}
header{
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 55px;
	z-index: 100;
}
.content_box{
	min-width: 320px;
	max-width: 640px;
	margin:0 auto;
}
.head{
	width: 100%;
	height: 100%;
	min-width: 320px;
	max-width: 640px;
	margin:0 auto;
	background-image: url(../images/grade_confirm@2x.png);
	background-size: 100% 100%;
	display: flex;
	justify-content: space-around;
	align-items: flex-end;
}
.head img{
	width: 50%;
	vertical-align: middle;
}
.head span{
	font-size: 15px;
	color: white;
	padding: 2px 10px;
}
.head .seg_high{
	color: rgb(250,209,81);
	border-bottom: 2px solid rgb(250,209,81);
}
section{
	width: 100%;
	min-width: 320px;
	max-width: 640px;
	margin:0 auto;
	margin-top: 55px;
}
.big{
	width: 100%;
}
.big1{
	width: 100%;
}
.big2{
	width: 100%;
}
.banner_box{
	width: 100%;
}
.img_box{
	width: 100%;
}
.img{
	width: 100%;
}
.img>a>img{
	width: 100%;
}
.nav{
	width: 100%;
	display: flex;
	justify-content: space-around;
	text-align: center;
	background-color: white;
	margin-top: -3px;
	font-size: 13px;
	padding: 13px 0;
}
.nav img{
	width: 50%;
}
.nav a p{
	color: gray;
}
.section{
	width: 100%;
	padding: 10px;
	background-color: white;
	margin-top: 6px;
}
.section>p{
	text-align: center;
}
.section>div{
	width: 100%;
	margin-top: 20px;
}
.section>div>div{
	width: 75%;
	display: inline-block;
	font-size: 14px;
	margin-left: 10px;
}
.section>div>div>p{
	font-size: 12px;
	color: gray;
}
.section>div>img{
	width: 10%;
}
.section>div>.img{
	width: 5%;
}
.all{
	font-size: 12px;
	color: gray;
	display: inline-block;
}
.div_all{
	width: 100%;
	padding: 10px 0;
	margin-top: 10px;
	border-top: 1px solid rgb(222,222,222);
	text-align: center;
}
.div_all .goto{
	width: 5%;
	vertical-align: middle;
	margin-left: 10px;
}
.section_two{
	width: 100%;
	padding: 10px;
	background-color: white;
	margin-top: 6px;
	text-align: center;
}
.section_two>p{
	margin-bottom: 10px;
}
.section_two>span{
	font-size: 12px;
	color: gray;
}
.section_two>div{
	margin-top: 10px;
	font-size: 12px;
	padding: 10px;
	color: gray;
	border-top: 1px solid rgb(222,222,222);
}
.section_two>div>img{
	width: 5%;
	vertical-align: middle;
	margin-left: 10px;
}
.audio{
	width: 100%;
	margin-top: 6px;
	background-color: white;
	font-size: 14px;
	color: gray;
	text-align: center;
	padding: 10px;
}
.audio img{
	width: 8%;
	vertical-align:middle;
}
.nav_two{
	width: 100%;
	background-color: white;
	overflow-x: auto;
	margin-bottom: 6px;
}
.nav_two>.nav_two_box{
	width: 300%;
}
.nav_two>.nav_two_box>li{
	width: 8.5%;
	display: inline-block;
	text-align: center;
	padding: 15px 0;
}
.nav_two>.nav_two_box>li img{
	width: 50%;
}
.nav_two>.nav_two_box>li p{
	font-size: 12px;
	color: gray;
}
::-webkit-scrollbar{
	width:0px;
}
.section_three{
	width: 100%;
	margin-top: 15px;
	/*border:1px solid red;*/
}
.section_three>ul{
	width: 100%;
	background-color:white;
	margin-top: 6px;
	text-align: center;
}
.section_three>ul>li{
	width: 100%;
	padding: 10px 5px;
}
.section_three>ul>li>div>a>img{
	width: 6%;
	vertical-align: middle;
	margin-left: 10px;
}
.section_three>ul>li>div>span{
	font-size: 13px;
}
.section_three>ul>li>a{
	display: inline-block;
	width: 25%;
	margin-left: 20px;
}
.section_three>ul>li>a>img{
	width: 100%;
}
.section_three>ul>li p{
	width: 100%;
	height: 40px;
	line-height: 20px;
	overflow-y:hidden; 
	text-align: left;
	font-size: 12px;
}
.section_three>ul>li>.img_box_one{
	margin-left: 0px;
}
.mian{
	width: 100%;
	/*display: flex;*/
	/*margin-top: 55px;*/
}
.mian>.mian_box{
	width: 100%;
	background-color: white;
	display: flex;
	padding-top: 30px;
}
.mian>div>div{
	width: 17%;
	height: 20px;
	font-size: 12px;
	color: gray;
	border:1px solid gray;
	padding: 2px 5px;
	border-radius: 20px;
	line-height: 100%;
	margin-left: 14%;
	margin-top: 10px;
}
.mian>div>div>img{
	width: 30%;
	vertical-align:bottom;
}
.mian_box>img{
	width: 50px;
	height: 50px;
	border-radius: 50%;
	margin-left: 14%;
}
.mian>ul{
	width: 100%;
	background-color: white;
	padding: 10px 0;
}
.mian>.mian-ul>li{
	width: 90%;
	text-align: center;
	font-size: 12px;
	margin: auto;
	padding: 10px 0;
	border-bottom: none;
}
.mian>.mian-ul>.bottom_li{
	border-bottom: 1px solid rgb(233,233,233);
}
.mian_section{
	width: 100%;
	background-color: white;
	padding-bottom: 20px;
}
.mian_section>ul{
	width: 100%;
	display: flex;
	justify-content: space-around;
	text-align: center;

}
.mian_section>ul>li{
	width: 25%;
	font-size: 12px;
}
.mian_section>ul>li>a>img{
	width: 50%;
}
.mian>ul{
	width: 100%;
	background-color: white;
}
.mian>ul>li{
	width: 100%;
	text-align: left;
	padding:10px;
	font-size: 12px;
	border-bottom: 1px solid rgb(233,233,233);
}
.mian>ul>li> img{
	width: 7%;
	margin-right: 10px;
}
.mian>ul>li>a img{
	width: 7%;
	margin-right: 10px;
}
.flaot_right{
	float: right;
}
.mian_mian_box{
	margin-top: 6px;
}
section>.move_one{
	width: 100%;
	height: 100%;
	background-color: rgba(50,50,50,0.5);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
	border:1px solid red;
	display: none;
}
.move_one>div{
	width: 80%;
	background-color: white;
	margin: auto;
	margin-top: 50%;
	padding: 20px;
}
.move_one>div>p{
	font-size: 14px;
	color: rgb(150,130,250);
}
.move_one>div>div{
	display: inline-block;
	font-size: 13px;
	color: gray;
	margin: auto;
}
.move_one>div>div>span{
	font-size: 13px;
	color: black;
}
.move_one>div>.div_one>img{
	width: 70%;
}
.move_one>div>.div_one,.move_one>div>.div_two{
	width: 15%;
	vertical-align: top;
	margin-top: 30px;
}
.move_one>div>.div_two>img{
	width: 28%;
	float: right;
}
.move_one>div>.div_two{{
	overflow: hidden;
}
