*{
	margin: 0;
	padding:0;
	-webkit-tap-highlight-color:transparent;

	box-sizing: border-box;
	-webkit-box-sizing:border-box;
}
body{
	font-size: 14px;
	font-family: "微软雅黑";
	color: #333;
}
a{
	color: #333;
	text-decoration: none;
}
a:hover{
	text-decoration: none;
}
input{
	border:none;
	outline: none;
	-webkit-appearance:none;
}
ul,ol{
	list-style-type: none;

}
.content{
	width: 100%;
	max-width: 640px;
	min-width: 320px;
	margin:0 auto;
}
.content>header{
	background-image: url(../images/grade_confirm@2x.png);
	background-size: 100% 55px;
	width: 100%;
	height: 55px;
	display: flex;
	/*justify-content: space-around;*/
}
.content>header>a>img{
	width: 50%;
	margin-top: 20%;
}
.content>header>div{
	color: white;
	margin-left: 26%;
	line-height: 55px;
	font-size: 18px;
}
.div_span{
	text-overflow: -o-ellipsis-lastline;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp:1;
	-webkit-box-orient:vertical;
}
section{
	display: flex;
	justify-content: space-between;
}
.div_img{
	width: 15%;
	margin-left: 1.5%;
}
.div_title{
	display: inline-block;
	vertical-align: top;
	margin-left:20%;
	margin-top: -18%;
}
.div_content{
	color:rgb(180,180,180);
	border-bottom: 1px solid rgb(180,180,180);
	padding-bottom: 3px;
	display: inline-block;
	text-overflow: -o-ellipsis-lastline;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp:1;
	-webkit-box-orient:vertical;
	width: 75%;
	margin-left:20%;
	margin-top: -10%;
	padding-right: 10%;

}
.div_span{
	color:rgb(180,180,180);
	margin-left:80%;
	margin-top: -70px;
}
main>p{
	background-color: rgb(220,220,220);
	width: 50%;
	margin:0 auto;
	margin-bottom: 15px;
	padding:3px 0;
	text-align: center;
	border-radius:15px;
}
main>.class_div_img{
	width: 10%;
	margin-left: 5%;
	vertical-align: top;
}
main>.c_div_content{
	width: 70%;
	display: inline-block;
	margin-left: 4%;
	margin-bottom: 5%;
	padding: 5% 2%;
	background-color: rgb(240,240,240);
	border-radius: 5px;
}
main>.c_div_content>p>.look{
	color: blue;
}