*{
	margin:0px;
	padding: 0px;
	-webkit-tap-highlight-color:transparent;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
body{
	font-family: "微软雅黑";
	color: #333;
	font-size: 14px;
	background-color: rgba(245,245,245,1);

}
a{
	color: #333;
	text-decoration: none;
}
a:hover{
	text-decoration: none;
}
input{
	border:none;
	outline: none;
	-webkit-appearance:none;
}
ul,ol{
	list-style: none;
}
.big_header{
	width: 100%;
	min-width: 320px;
	margin:0 auto;
	max-width: 640px;
}
header{
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	z-index: 2000;
}
.head{
	width: 100%;
	height: 55px;
	background-image:url("../images/grade_confirm@2x.png");
	background-size: 100% 55px;
	min-width: 320px;
	margin:0 auto;
	max-width: 640px;
	display: flex;
	justify-content: space-around;
	align-items: flex-end;		
}
.head a img{
	width: 50%;
}
.head span{
	padding-bottom: 10px;
	color: white;
}
.Record{
	width: 95%;
	height: 60px;
	margin-left: 2.5%;
	line-height: 60px;
	display: flex;
	justify-content: space-around;
	border-bottom: 1px solid rgba(162,162,163,0.4);
}
.Record span a{
	font-size: 12px;
}
.big_div{
	width: 100%;
}
.big_images img{
	width: 100%;
	height:280px;
}
.Receivables{
	width: 100%;
	height: 65px;
	margin-top: -5px;
	background-color: rgba(255,255,255,1);
	border-bottom: 1px solid rgba(248,248,248,1);
}
.Receivables ul{
	width: 100%;
	display: flex;
	justify-content: space-around;
}
.Receivables ul>li{
	display: inline-block;
	font-size: 12px;
}
.Receivables ul>li>a>img{
	width: 45%;
	margin-left: 20px;
}
.orders{
	width: 100%;
	height: 40px;
	line-height: 40px;
	background-color: rgba(255,255,255,1);
	display: flex;
	justify-content: space-around;
	border-bottom: 1px solid rgba(248,248,248,1);
}
.first_div{
	margin-top: 4px;
}
.first_div img{
    width: 60%;
    margin-top: 5%;
}
.next_div{
	margin-left: -10%;
}
.last_div{
	margin-left: 50%;
}
.foot{
	display: flex;
	justify-content: space-around;
	width: 100%;
	height: 43px;
	border: 1px solid rgb(222,222,223);
	line-height:43px;
	color: rgb(192,192,192);
	position: fixed;
	bottom:0px;
	z-index: 201;
	background-color: rgba(245,245,245,1);
	min-width: 320px;
	margin:0 auto;
	max-width: 640px;
}
.foot>div{
	width: 100%;
	font-size: 12px;
	border-right: 1px solid rgba(162,162,163,0.4);
	text-align: center;
}
.foot>div>a>img{
	width: 30%;
	padding-top: 12px;
}

footer{
	padding-bottom: 45px;
}
