*{
	margin: 0;
	padding:0;
	-webkit-tap-highlight-color:transparent;

	box-sizing: border-box;
	-webkit-box-sizing:border-box;
}
body{
	font-size: 14px;
	font-family: "微软雅黑";
	color: #333;
}
a{
	color: #333;
	text-decoration: none;
}
a:hover{
	text-decoration: none;
}
input{
	border:none;
	outline: none;
	-webkit-appearance:none;
}
ul,ol{
	list-style-type: none;

}
.content{
	width: 100%;
	max-width: 640px;
	min-width: 320px;
	margin:0 auto;
}
.content>header{
	background-image: url(../images/grade_confirm@2x.png);
	background-size: 100% 55px;
	width: 100%;
	height: 55px;
	display: flex;
	justify-content: space-around;
	
}

.content>header>input{
	border: none;
	background-color: rgb(1,121,221);
	border-bottom: 1px solid rgb(169,235,250);
	color:white;
	margin-top: 7px;
	width: 100%;
	height: 80%;
	font-size: 18px;
}
.content>header>a>.left_arrow,.content>header>a>.right_arrow{
	width:70%;
	margin-top: 20px;
}
.content>header>a>.right_arrow{
	margin-left: 5px;
}
.content>header>span>img{
	width: 40px;
	position: absolute;
	top: 20px;
	left: 78%;
}
.content>nav>div{
	background-color: rgb(216,241,253);
}
.content>nav>div>span{
	color:rgb(113,179,194);
	display: inline-block;
	padding: 2% 0;
	padding-left: 2%;
}
main>ul>li{
	border-bottom: 1px  solid  rgb(230,230,230);
	padding: 5% 0;
	margin:0 5%;
}