<div class="contents">
<header>
    <div class="interactive_head">
        <div class="interactive_div">
            <a href="../html/interaction_demo.html">
                <img src="../images/nav_back_btn.png" alt="">
            </a>
            <span>互动区</span>
            <span></span>
            <span></span>
        </div>
    </div>
</header>
<section>
    <div class="detail_page_content">
        <div class="detail_page_div">
            <div class="head_portrait_content">

            </div>
            <div class="title_content">

            </div>
            <div class="content_div">

            </div>
            <div class="zan_div">
                <div class="blue_frame" id="blue_frame" onclick="fun()">

                </div>
            </div>
        </div>
    </div>
    <div class="comments_content">
        <div class="comments_content_div">

        </div>
    </div>
    <div class="to_base">
        <span>已经到底了>_< </span>
    </div>
</section>
<footer>
    <div class="foot">
        <div class="foot_content">
            <div class="review_content">
               <img src="../images/interaction_icon_comment_36@2x.png" alt="">
               <span>评论</span>
            </div>
            <div class="forwarding_centent">
                <img src="../images/interaction_icon_share_36@2x.png" alt="">
               <span>转发</span>
            </div>
        </div>
    </div>
</footer>
</div>