<div class="contents">
<header>
    <div class="interactive_head">
        <div class="interactive_div">
            <a href="../index.html">
                <img src="../images/nav_back_btn.png" alt="">
            </a>
            <span>互动区</span>
            <span></span>
            <span></span>
        </div>
    </div>
</header>
<section>
    <div class="slideshow_div">
        <div class="slideshow">
           <div class="photo_div">

            </div>
        </div>
    </div>

    <div class="Interactive_list">
        <a href="#!second_page">
            <div class="Interactive_list_div">
                <div class="head_portrait_details">

                </div>
            </div>
        </a>
    </div>
</section>
</div>
