<div class="contents">
<header>
    <div class="interactive_head1">
        <div class="interactive_div1">
            <a href="">
                <img src="../images/nav_back_btn.png" alt="">
            </a>
            <span>互动区</span>
            <span onclick="send_click()">发送</span>
        </div>
    </div>
</header>
<section>
    <div class="input_number_content">
        <span class="title_color">标题</span>&nbsp;&nbsp;
        <input type="text" name="" placeholder="4-25字">
    </div>
    <div class="main_body_div">
        <div class="main_body_content">

        </div>
        <div class="upload_div">
            <img src="../images/sub_more@2x.png" alt="" onclick="upload_pictures()">
            <span>上传照片，最多三张</span>
        </div>
    </div>
    <div class="list_div">

    </div>

    <div class="prompt_div">
        <div class="prompt_content_div">
            <p class="prompt">提示</p>
            <span>标题字数为4-25字且文章正文不能为空！</span>
            <p class="determine" onclick="determine_click()">确定</p>
        </div>
    </div>
    <div class="upload_pictures_div">
        <p class="upload_way" onclick="contents_click()">选择上传图片方式</p>
        <p class="photograph">拍照</p>
        <p class="choose">从相册中选择</p>
    </div>
</section>
</div>
