<div class="content">
		<header>
			<a href="">
				<img src="../images/nav_back_btn.png" alt="" class="left_arrow">
			</a>
			<input type="text" placeholder="音频名称、知识点" class="header_input" value="">
			<span>
					<img src="../images/batch_close@2x.png" alt="" class="X">
			</span>
			<a href="">
				<img src="../images/icon_search@2x.png" alt="" class="right_arrow">
			</a>

		</header>
		<nav>
			<div onclick="Popular_search()">
				<span>热门搜索</span>
			</div>
		</nav>
		<main>
			<ul>
				<li onclick="fun1(this)">作文</li>
				<li onclick="fun1(this)">离骚</li>
				<li onclick="fun1(this)">高考</li>
				<li onclick="fun1(this)">高一</li>
			</ul>
		</main>
		
	</div>
	<script src = '../js/searchfdj.js'></script>
	